# Email Configuration (Mailtrap)
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Database
DB_URL=jdbc:postgresql://localhost:5432/elearning
DB_USERNAME=postgres
DB_PASSWORD=

# JWT
JWT_SECRET_KEY=

# OAuth - Google
OUTBOUND_IDENTITY_CLIENT_ID=
OUTBOUND_IDENTITY_CLIENT_SECRET=
OUTBOUND_IDENTITY_REDIRECT_URI=http://localhost:8080/auth/google/callback

# OAuth - Facebook
OUTBOUND_FACEBOOK_CLIENT_ID=
OUTBOUND_FACEBOOK_CLIENT_SECRET=
OUTBOUND_FACEBOOK_REDIRECT_URI=http://localhost:8080/auth/facebook/callback

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# VNPay
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_TMN_CODE=
VNPAY_SECRET_KEY=
VNPAY_RETURN_URL=http://localhost:8080/api/v1/payment/vn-pay-callback

